
<table class="body" role="presentation" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td>&nbsp;</td>
<td class="container">
<div class="content"><!-- START CENTERED WHITE CONTAINER -->
<table class="main" role="presentation"><!-- START MAIN CONTENT AREA -->
<tbody>
<tr>
<td class="wrapper">
<table role="presentation" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td>
<p>Hi {{ username }},</p>
<p>Greetings from VClite. You have successfully registered with us.</p>
<table class="btn btn-primary" role="presentation" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td align="left">
<table role="presentation" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td><a href="{{ url }}" target="_blank" rel="noopener">Visit VClite</a></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
<!-- END MAIN CONTENT AREA --></tbody>
</table>
<!-- END CENTERED WHITE CONTAINER --> <!-- START FOOTER -->
<div class="footer">
<table role="presentation" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td class="content-block"><span class="apple-link">QuantWorks, Whitefield, Bangalore 94102</span> <br /> Don't like these emails? <a href="http://i.imgur.com/CScmqnj.gif">Unsubscribe</a>.</td>
</tr>
<tr>
<td class="content-block powered-by">Powered by <a href="http://htmlemail.io">HTMLemail</a>.</td>
</tr>
</tbody>
</table>
</div>
<!-- END FOOTER --></div>
</td>
<td>&nbsp;</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>